* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0b1320;
  color: white;
}

.screen {
  display: none;
  padding: 20px;
  min-height: 100vh;
  text-align: center;
}

.screen.active {
  display: block;
}

h1 span {
  color: #27f5d4;
}

button {
  padding: 15px 25px;
  margin: 10px;
  border-radius: 12px;
  border: none;
  background: #27f5d4;
  color: #000;
  font-size: 16px;
}

button.danger {
  background: red;
  color: white;
}

button.small {
  background: transparent;
  color: #27f5d4;
}

.cards button {
  width: 80%;
  display: block;
  margin: 12px auto;
}

video {
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
  margin-top: 10px;
}

.alert {
  background: red;
}
